<div class="background"></div> <!-- Background image div -->
<div class="content">
  <div class="container-fluid">
    <div class="row">
      <!-- Sidebar -->
      <nav id="sidebar" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
        <div class="position-sticky">
          <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" [routerLink]="['product', 1]" routerLinkActive="active">
                <span class="icon"><i class="bi bi-house-door"></i></span>
                Product 1
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['product', 2]" routerLinkActive="active">
                <span class="icon"><i class="bi bi-house-door"></i></span>
                Product 2
              </a>
            </li>
          </ul>
        </div>
      </nav>
      

  
      <!-- Main content -->
      <main class="col-md-9 ms-sm-auto col-lg-10 px-4">
        <router-outlet></router-outlet>
      </main>
    </div>
  </div>
</div>
