.iframe-div {
    margin-left: 108px !important;
  }
  
  .prod-name {
    position: relative;
    left: 108px;
    margin-top: auto;
  }
  
  .nav-tabs {
    margin-top: 20px;
    margin-left: 108px;
  }
  
  .tab-content {
    margin-left: 108px;
    padding-top: 10px;
  }
  